# Python
__pycache__/
*.pyc
.Python
env/
venv/
.venv/
# ignore next steps notebook
notebooks/00_step_summary_next_steps.ipynb
# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
*/.ipynb_checkpoints/*
# Environment
.env
.env.local
.venv/
venv/
# Data
data/raw/
data/processed/
*.csv
*.parquet
*.h5
# Models
models/checkpoints/

# macOS
*.webloc
.DS_Store